{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Manager Profile{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="page-wrap page-add-employee">
    <!-- Content Row -->
    <div class="row">

      <!-- Area Chart -->
      <div class="col-xl-12 col-lg-12">
        <!-- Page Heading -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 px-0">
            <li class="breadcrumb-item"><a href="{% url 'manager_dashboard' %}">{% trans "Manager Dashboard" %}</a></li>
            <li class="breadcrumb-item active">{% trans "Manager Profile" %} </li>
          </ol>
        </nav>
        <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 mt-2 text-gray-800">Team Connect</h1>
            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
              class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> 
            </div> -->

        <div class="card shadow mb-4">

          <!-- Card Header - Dropdown -->
          <div
            class="card-header px-3 py-3 d-block d-md-flex d-lg-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 mr-1 font-weight-bold text-primary">{% trans "Manager Profile" %}</h6>
            <!-- <div class="btn-wrapper mt-2 mt-md-0 mt-lg-0">
                                            <a class="mr-1 d-sm-inline-block btn common-btns btn-sm btn-primary" id="edit_profile_btn">Edit</a>
                                          </div> -->
          </div>
          <div class="form-wrap-section">
            <!-- Card Body -->
            <div class="card-body">
              <div class="employee-profile manager-profile d-xs-block">
                <div class="row">
                  <div class="rounded mb-3 col-md-12">
                    <div class="d-flex justify-content-center align-items-baseline">
                      <div class="img-wrapper-block">
                        <img src="{{manager_details.profile_pic}}" id="image-preview"
                          title="{% trans "Manager Profile" %}" alt="Employee Profile">
                        <!-- <input name="photo" type="file" id="pic_value" accept="image/*"
                          onchange="readURL(this)" disabled>
                          <input type="hidden" id="profile_pic_value" name=""> -->
                        <div class="camera-block manager">
                          <label for="pic_value" class="camera-img"><i class="fas fa-camera"></i>
                          </label>
                          <input name="photo" type="file" id="pic_value" accept="image/*" onchange="readURL(this)"
                            disabled>
                          <input type="hidden" id="profile_pic_value" name="">
                        </div>
                        <span id="doc_error" style="display: none; color: red;"></span>

                      </div>
                      <a class="mr-1 d-sm-inline-block btn common-btns btn-sm btn-primary"
                        id="edit_profile_btn">{% trans "Edit Profile Picture" %}</a>
                      <a class="mr-1 d-sm-inline-block btn common-btns btn-sm btn-primary" id="save_profile_pic"
                        disabled>{% trans "Save" %}</a>
                    </div>
                  </div>

                  <div class="information-part col-md-12">
                    <div class="row form-row ">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>{% trans "Name" %} <span class="color-red">*</span> </label>

                          <input type="text" class="form-control" placeholder="{% trans "Enter Number" %}" required=""
                            value="{{manager_details.full_name}}" id="emergency_contact_person" readonly>
                          <label id="emergency_contact_person_error" style="display: none;color: red;"></label>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>{% trans "Phone Number" %} <span class="color-red">*</span> </label>
                          <input type="number" class="form-control" placeholder="{% trans "Enter Number" %}"
                            value="{{manager_details.phone}}" required="" id="contact_number" readonly>
                          <label id="contact_number_label" style="display: none;color: red;"></label>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>{% trans "Email" %} <span class="color-red">*</span> </label>
                          <input type="email" class="form-control" placeholder="{% trans "Enter Number" %}"
                            value="{{request.user.email}}" required="" id="email" readonly>
                          <label id="error_email" style="display: none;color: red;"></label>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>{% trans "Manager's timezone" %} <span class="color-red">*</span></label>
                          <select class="form-control" id="manager_timezone" disabled>
                            <option>{% trans "Please select Manager's Timezone" %}
                            </option>
                            {% for tim in timezones %}
                            <option {% if manager_details.timezone == tim %}selected{% endif %}>
                              {{tim}}</option>
                            {% endfor %}
                          </select>
                          <label id="manager_timezone_error" style="display: none;color: red;"></label>

                        </div>
                      </div>

                      <div class="row form-row justify-content-center">
                        <h5 class="px-1 text-gray-800">{% trans "Manager's Dashboard Timezones" %}
                        </h5>
                      </div>

                      <div class="row form-row">
                        <div class="col-lg-3">
                          <div class="form-group">
                            <label>{% trans "Time Zone 1" %} <span class="color-red">*</span></label>
                            <select class="form-control" id="timezone1" onchange="timezone1_validation()" disabled>
                              <option>{% trans "Please select Time Zone 1" %}</option>
                              {% for tim in timezones %}
                              <option {% if user_timezones.timezone1 == tim %}selected{% endif %}>
                                {{tim}}</option>
                              {% endfor %}
                            </select>
                            <label id="timezone_1_error" style="display: none;color: red;"></label>
                          </div>
                        </div>

                        <div class="col-lg-3">
                          <div class="form-group">
                            <label>{% trans "Time Zone 2" %} <span class="color-red">*</span></label>
                            <select class="form-control" id="timezone2" onchange="timezone2_validation()" disabled>
                              <option>{% trans "Please select Time Zone 2" %}</option>
                              {% for tim in timezones %}
                              <option {% if user_timezones.timezone2 == tim %}selected{% endif %}>
                                {{tim}}</option>
                              {% endfor %}
                            </select>
                            <label id="timezone_2_error" style="display: none;color: red;"></label>
                          </div>
                        </div>

                        <div class="col-lg-3">
                          <div class="form-group">
                            <label>{% trans "Time Zone 3" %} <span class="color-red">*</span></label>
                            <select class="form-control" id="timezone3" onchange="timezone3_validation()" disabled>
                              <option>{% trans "Please select Time Zone 3" %}</option>
                              {% for tim in timezones %}
                              <option {% if user_timezones.timezone3 == tim %}selected{% endif %}>
                                {{tim}}</option>
                              {% endfor %}
                            </select>
                            <label id="timezone_3_error" style="display: none;color: red;"></label>
                          </div>
                        </div>

                        <div class="col-lg-3">
                          <div class="form-group">
                            <label>{% trans "Time Zone 4" %} <span class="color-red">*</span></label>
                            <select class="form-control" id="timezone4" onchange="timezone4_validation()" disabled>
                              <option>{% trans "Please select Time Zone 4" %}</option>
                              {% for tim in timezones %}
                              <option {% if user_timezones.timezone4 == tim %}selected{% endif %}>
                                {{tim}}</option>
                              {% endfor %}
                            </select>
                            <label id="timezone_4_error" style="display: none;color: red;"></label>
                          </div>
                        </div>
                      </div>



                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>{% trans "Department" %} <span class="color-red">*</span></label>
                          <select class="form-control" id="department" disabled>
                            <option>{{manager_details.department.departments}}</option>
                            <!-- {% for dept in departments %}
                            <option value="{{dept.id}}"
                              {% if dept.departments == manager_details.department.departments %}selected{% endif %}>
                              {{dept.departments}}</option>
                            {% endfor %} -->
                          </select>
                          <label id="department_error" style="display: none;color: red;"></label>

                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>{% trans "Designation" %} <span class="color-red">*</span></label>
                          <select class="form-control" id="designation" disabled>
                            <option>{{manager_details.designation}}</option>
                            <!-- {% for i in designations %}
                            <option>{{i.designation}}</option>
                            {% endfor %} -->
                          </select>
                          <label id="designation_error" style="display: none;color: red;"></label>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <!--/row  -->
  </div>
  <!-- /.container-fluid -->
</div>
</div>
</div><!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>



<!-- loader -->
<div class="loader-overlay" id="page_loader" style="display: none;">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">{% trans "Loading..." %}</span>
  </div>
</div>


<div class="submit-msg alert modal fade" id="universal_msg_modal" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header py-2 flex-row align-items-center justify-content-between">
        <button class="close close-bntn" type="button" data-dismiss="modal" aria-label="Close">
          <div class="close-btn mt-0">
            <span aria-hidden="true">×</span>
          </div>
        </button>
      </div>
      <div class="modal-body">
        <div class="row form-row">
          <div class="col-lg-12 text-center">
            <p class="m-0" id="universal_msg"></p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn shadow-sm close-bntn" type="button"
          data-dismiss="modal"> {% trans "Ok" %} </button>
      </div>
    </div>
  </div>
</div>


<div class="submit-msg alert modal fade" id="universal_msg_modal1111" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header py-1 flex-row align-items-center justify-content-between">
        <button class="close " type="button" data-dismiss="modal" aria-label="Close">
          <div class="close-btn">
            <span aria-hidden="true">×</span>
          </div>
        </button>
      </div>
      <div class="modal-body">
        <div class="row form-row">
          <div class="col-lg-12 text-center">
            <p class="m-0">{% trans "Something went wrong" %}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn shadow-sm " type="button" data-dismiss="modal">
          {% trans "Ok" %} </button>
      </div>
    </div>
  </div>
</div>

<div class="submit-msg alert modal fade" id="universal_msg_modal11" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header py-2 flex-row align-items-center justify-content-between">
        <button class="close " type="button" data-dismiss="modal" aria-label="Close">
          <div class="close-btn mt-0 ">
            <span aria-hidden="true">×</span>
          </div>
        </button>
      </div>
      <div class="modal-body">
        <div class="row form-row">
          <div class="col-lg-12 text-center">
            <p class="m-0" id="universal_msg11"></p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn shadow-sm " type="button" data-dismiss="modal">
          {% trans "Ok" %} </button>
      </div>
    </div>
  </div>
</div>



<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.js' %}"></script>
<script type="text/javascript">
  $("#image-preview").click(function(){

$("#pic_value").click()
  })
  function readURL(input) {
    $("#result_div").text("")
    file = $("#pic_value").val()

    if (file.includes(".jpeg") || file.includes(".jpg") || file.includes(".png")) {

      const size = (input.files[0].size / 1024 / 1024).toFixed(2);
      if (size > 10) {
        $("#doc_error").html("{% trans "File size must me less than 10 mb" %}")
        $("#doc_error").show()
        return false
      }
      else {
        $("#doc_error").hide()
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $('#image-preview').attr('src', e.target.result)
            $('#profile_pic_value').val(e.target.result)
          };
          reader.readAsDataURL(input.files[0]);
          // $('#gen-caption-com').css('display', 'none')
          // $('#btn').show()
          // $('.hellodiv').show()
        }
        return true
      }
    }
    else {
      $("#doc_error").html("{% trans "Please check your file format" %}")
      $("#doc_error").show()
      return false
    }


  }
  $("#edit_profile_btn").click(function () {
    $(this).prop("disabled", true)
    $("#save_profile_pic").removeAttr("disabled")
    $("#pic_value").prop("disabled", false)
    $("#pic_value").click()

  })

  $("#save_profile_pic").click(function () {
    $("#page_loader").show()
    $.ajax({
      type: 'POST',
      url: "{% url 'manager_profile' %}",
      data: {
        "profile_pic": $("#profile_pic_value").val()
      },
      success: function (response) {
        $("#page_loader").hide()
        if (response == 1) {
          $("#universal_msg").text("{% trans "Profile picture saved successfully" %}")
          $("#universal_msg_modal").modal("show")
        }
        // else if(response == 5){
        //   $("#universal_msg11").text("Email already exist")
        //   $("#universal_msg_modal11").modal("show")
        // }
        else {
          $("#universal_msg_modal1111").modal("show")
        }
      }
    });

  })
  $(".close-bntn").click(function () {
    location.reload()
  })
</script>

{% endblock %}