{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% trans "No Permission" %}</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <link
        href="https://fonts.googleapis.com/css?family=Oswald:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">

</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if button == 'admin' %}
                <div class="top-links text-right mt-2">
                    <a class="d-sm-inline-block btn btn-sm btn-primary table-btn shadow-sm" href="{% url 'admin_dashboard' %}">{% trans "Admin Dashboard" %}</a>
                </div>
            {% elif button == 'manager' %}
                <div class="top-links text-right mt-2">
                    <a class="d-sm-inline-block btn btn-sm btn-primary table-btn shadow-sm" href="{% url 'manager_dashboard' %}">{% trans "Manager Dashboard" %}</a>
                </div>
            {% elif button == 'normal_user' %}
                <div class="top-links text-right mt-2">
                    <a class="d-sm-inline-block btn btn-sm btn-primary table-btn shadow-sm" href="{% url 'landing_page' %}">{% trans "Staff Dashboard" %}</a>
                </div>
            {% endif %}
            <div class="error-template d-flex flex-column h-100 justify-content-between">
                <div class="error-actions">
                    <a><i class="fas fa-exclamation-triangle"></i></a>
                </div>
                <h1>{% trans "Oops!" %}</h1>
                <h2>{% trans "You don't have permission to view the page" %}</h2>
                <div class="error-details">
                    {% trans "Sorry, an error has occured, Requested page not found!" %}
                </div>                
            </div>
        </div>
    </div>
</div>


</body>


<style>
    body {
        background-color: #f8f9fc;
    }
    .error-template {padding: 150px 15px;text-align: center;}
    .error-actions {margin-top:15px;margin-bottom:15px;}
    .error-actions .btn { margin-right:10px; }
    .error-actions i {
        font-size: 80px;
    }
</style>

</html>