{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Notifier</title>
     <script src="{% static '/js/websocketbridge.js' %}" type="text/javascript"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
     <style>
    .lefttext{
            position: absolute;
            left: 0px;
            padding: 3px;
            padding-left: 6px;
            padding-right: 6px;
            border-radius: 5px;
            color: white;
            background-color: blue;
        }
    </style>
  </head>
  <body>
   
     <div  style="position:relative;height:100vh;width:100vw;"class="d-flex justify-content-center align-items-center">
       <h1 style="top:0;position:absolute;"> Welcome To The Group:<span style="color:red">{{name}}</span> </h1>
       <div id="messagecontainer" class="container" style="overflow-y:auto;position:relative;width:40vw;height:40vh">
           <p>Broad Cast Message</p>
    <ul id="notifylist"></ul>
       </div>
      <div style="position:absolute;bottom:20px;width:100vw" class="d-flex justify-content-center">
       <input id="messageinputfield" type="text"  class="form-control" style="text-align:center;width:40vw;" type="text" name="" >
       <input class="btn btn-primary" id="sendbutton" type="submit" value="send">
      </div>

  
    </div>

</form>
</div>
    <script type="text/javascript">

var loc = window.location
  var endpoint = ''
  var wsStart = 'ws://'
  if (loc.protocol == 'https:') {
    wsStart = 'wss://'
  }

 
  var endpoint = wsStart + loc.host + "/ws/chat/{{room_no}}/";
    console.log(endpoint)
    var chatSocket = new WebSocket(endpoint)
document.querySelector('#sendbutton').onclick = function(e){
   message =  document.querySelector('#messageinputfield').value;
   chatSocket.send(JSON.stringify({'message':'{{name}}: ' + message}));
   document.querySelector('#messageinputfield').value=" "

}
document.querySelector('#messageinputfield').onkeyup = function(e){
    if(e.keyCode==13){
        document.querySelector('#sendbutton').click();

    }
}
chatSocket.onmessage = function(e){
    const data = JSON.parse(e.data);
    console.log(">>>>>>>>>>>",data.message);
    document.querySelector('#messagecontainer').innerHTML +=  '<div class="lefttext">'+data.message+'</div>'+'<br><br>';
}
</script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      const webSocketBridge = new channels.WebSocketBridge();
      const nl = document.querySelector("#notifylist");
      webSocketBridge.connect('/groupmsg/');
      webSocketBridge.listen(function(action, stream) {
        console.log("RESPONSE:", action);
        if(action.event == "New Message") {
             alert(action.message);
         var el = document.createElement("li");
         el.innerHTML = `New Message<b>${action.message}</b> has joined!`;
        nl.appendChild(el);
        
        }
      })
      document.ws = webSocketBridge; /* for debugging */
    })
    </script>
  </body>
</html>