{% extends 'admin_templates/admin_base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Department{% endblock %}
{% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <div class="dashboard-body">

           
            <!-- Content Row -->

            <div class="row">

              <!-- Area Chart -->
              <div class="col-xl-12 col-lg-12">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-2 mt-2">
                  <!-- <h1 class="h3 mb-0 text-gray-800 mt-2 mr-3">Departments </h1> -->
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">{% trans "Admin Dashboard" %}</a></li>
                      <li class="breadcrumb-item active">{% trans "Department" %}</li>
                    </ol>
                  </nav>

                  <div class="grp-btns ml-auto">
                    <a href="#add-department-popup" data-toggle="modal" data-target="#add-department-popup"
                      class="d-sm-inline-block btn btn-sm btn-primary table-btn shadow-sm mr-2 add_department_popup"> {% trans 'Add Department' %} </a>

                  </div>
                </div>



                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header no-border py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary"> {% trans 'Department List' %} ({{department_count}})</h6>
                    
                  </div>
                  <!-- Table  -->
                  <div class="table-responsive-sm">
                    <table class="table table-bordered" cellspacing="0" width="100%">
                      <tr class="border-bottom-2">
                        <th>{% trans 'Serial No.' %}</th>
                        <th>{% trans 'Department' %}</th>
                        <th>{% trans 'Actions' %}</th>
                      </tr>
                      {% if department_obj %}
                        {% for designation in department_obj %}
                          <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{designation.departments}}</td>
                            <td>
                              <div class="gray-circle">
                                <div class="icons">
                                  <span>
                                    <a class="edit_department_icon" data-id="{{designation.id}}" data-name="{{designation.departments}}" >
                                      <i class="far fa-edit"></i>
                                    </a>
                                    <a class="remove_department_icon" data-attr="{{designation.id}}">
                                      <i class="far fa-trash-alt"></i>
                                    </a>
                                  </span>
                                </div>
                              </div>
                            </td>
                          </tr>
                        {% endfor %}
                      {% else %}
                      <tr>
                        <td colspan="7"><h1>{% trans 'No data found' %}</h1></td>
                      </tr>
                      {% endif %}
                    </table>
                  </div>
                  {% if department_obj.paginator.num_pages > 1 %}
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col">
                        <span>{% trans "Showing" %} {{department_obj.start_index}} {% trans "to" %} {{department_obj.end_index}} {% trans "of" %} {{department_count}}</span>
                      </div>
                      <div class="col">
                        <nav aria-label="Page navigation">
                          <ul class="pagination pg-blue justify-content-end">
                              {% if department_obj.number != 1 %}
                                <li class="page-item"><a class="page-link" href="?page=1">{% trans "First" %}</a></li>
                              {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">{% trans "First" %}</a></li>
                              {% endif %}
                              {% if department_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ department_obj.previous_page_number }}">&laquo;</a></li>
                              {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                              {% endif %}
                              {% for i in department_obj.paginator.page_range %}
                                {% if department_obj.number == i %}
                                  <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">({% trans 'current' %})</span></a></li>
                                {% elif department_obj.number > i|add:"-5" and department_obj.number < i|add:"+5"%}
                                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                              {% endfor %}
                              {% if department_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ department_obj.next_page_number }}">&raquo;</a></li>
                              {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                              {% endif %}
                              {% if department_obj.paginator.num_pages != department_obj.number %}
                                <li class="page-item"><a class="page-link" href="?page={{ department_obj.paginator.num_pages }}">{% trans 'Last' %}</a></li>
                              {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">{% trans 'Last' %}</a></li>
                              {% endif %}
                          </ul>
                      </nav>  
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>

              </div>


            </div>
          </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <div class="adjust-clock task add-dce manager-alert modal" id="logout-conformation-popup" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header py-2 flex-row align-items-center justify-content-between">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <div class="close-btn mt-0">
            <span aria-hidden="true">×</span>
          </div>
        </button>
      </div>
      <div class="modal-body p-3 p-md-4 p-lg-4">
        <div class="row form-row">
          <div class="col-lg-12 text-center">
            <p class="m-0" id="universal_ssmsg">{% trans 'Are you sure you want to logout?' %}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <a class="d-sm-inline-block btn btn-sm btn-primary yes-btn sbt-btn shadow-sm mr-2" href="{% url 'logout' %}"> {% trans 'Yes' %} </a>
        <button class="d-sm-inline-block btn btn-sm btn-primary yes-btn sbt-btn brown-clr shadow-sm" type="button"
          data-dismiss="modal"> {% trans 'No' %} </button>
      </div>
    </div>
  </div>
</div>






  <!-- Add Department Modal-->
  <div class="adjust-clock task add-dce manager-alert modal" id="add-department-popup" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header py-1 flex-row align-items-center justify-content-between">
          <h5 class="modal-title" id="exampleModalLabel">{% trans 'Add Department' %} </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <div class="close-btn mt-0">
              <span aria-hidden="true">×</span>
            </div>
          </button>
        </div>
        <div class="modal-body p-3 p-md-4 p-lg-4">
          <div class="row form-row">
            <div class="col-lg-12">
              <div class="form-group m-0">
                <input type="text" class="form-control" placeholder="{% trans "Enter Department Name *" %}" id="add_department" onkeyup="department_error_fn()">
                <span  id="department_error" style="display: none;color: red;"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-top-0">
          <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn shadow-sm" id="add_department_btn" type="button">
            {% trans 'Add' %} </button>
          <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn brown-clr shadow-sm" type="button"
            data-dismiss="modal"> {% trans 'Cancel' %} </button>
        </div>
      </div>
    </div>
  </div>



  <!-- end modal -->


  <div class="submit-msg alert modal fade" id="universal_msg_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header py-2 flex-row align-items-center justify-content-between">
        <button class="close close-bntn" type="button" data-dismiss="modal" aria-label="Close">
          <div class="close-btn mt-0">
            <span aria-hidden="true">×</span>
          </div>
        </button>
      </div>
      <div class="modal-body">
        <div class="row form-row">
          <div class="col-lg-12 text-center">
              <p class="m-0" id="universal_msg"></p>
          </div>          
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn shadow-sm close-bntn" type="button"  data-dismiss="modal"> {% trans 'Ok' %} </button>
      </div>
    </div>
  </div>
</div>


<div class="submit-msg alert modal fade" id="universal_msg_modal11" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header py-1 flex-row align-items-center justify-content-between">
        <button class="close " type="button" data-dismiss="modal" aria-label="Close">
          <div class="close-btn">
            <span aria-hidden="true">×</span>
          </div>
        </button>
      </div>
      <div class="modal-body">
        <div class="row form-row">
          <div class="col-lg-12 text-center">
            <p class="m-0" >{% trans 'Something Went Wrong' %}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn shadow-sm " type="button"
          data-dismiss="modal"> {% trans 'Ok' %} </button>
      </div>
    </div>
  </div>
</div>


<!--Delete conformation popup -->
<div class="adjust-clock task add-dce manager-alert modal" id="delete-conformation-popup" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header py-2 flex-row align-items-center justify-content-between">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <div class="close-btn mt-0">
            <span aria-hidden="true">×</span>
          </div>
        </button>
      </div>
      <div class="modal-body p-3 p-md-4 p-lg-4">
        <div class="row form-row">
          <div class="col-lg-12 text-center">
            <p class="m-0" id="universal_msg">{% trans 'Are you sure you want to delete this department?' %}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button class="d-sm-inline-block btn btn-sm btn-primary yes-btn sbt-btn shadow-sm mr-2"
          id="confirm_department_task" type="button"> {% trans 'Yes' %} </button>
        <button class="d-sm-inline-block btn btn-sm btn-primary yes-btn sbt-btn brown-clr shadow-sm" type="button"
          data-dismiss="modal"> {% trans 'No' %} </button>
      </div>
    </div>
  </div>
</div>

<div class="adjust-clock task add-dce manager-alert modal" id="edit-department-popup" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabelDesignation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header py-1 flex-row align-items-center justify-content-between">
          <h5 class="modal-title" id="exampleModalLabelDepartment">{% trans 'Edit Department' %} </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <div class="close-btn mt-0">
              <span aria-hidden="true">×</span>
            </div>
          </button>
        </div>
        <div class="modal-body p-3 p-md-4 p-lg-4">
          <div class="row form-row">
            <div class="col-lg-12">
              <div class="form-group m-0">
                <input type="text" class="form-control" placeholder="{% trans "Enter Department Name *" %}" onkeyup="edit_department_error_fn()" id="edit_department">
                <span  id="edit_department_error" style="display: none;color: red;"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-top-0">
          <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn shadow-sm" type="button" id="edit_department_btn" > {% trans 'Save' %} </button>
          <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn brown-clr shadow-sm" type="button"
            data-dismiss="modal"> {% trans 'Cancel' %} </button>
        </div>
      </div>
    </div>
  </div>



  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.js' %}"></script>
  <script type="text/javascript">


    $(".remove_department_icon").click(function(){
        $("#delete-conformation-popup").modal('show')
        $("#confirm_department_task").attr('data-attr', $(this).attr('data-attr'))
    })


    $(".edit_department_icon").click(function(){
        $("#edit-department-popup").modal('show')
        name = $(this).attr('data-name')
        id = $(this).attr('data-id')
        $("#edit_department_btn").attr('data-attr', id)
        $("#edit_department").attr('data-title', name)
        $("#edit_department").val(name)        
        $("#edit_department_error").hide()
    })


    $("#edit_department_btn").click(function () {
      
      edit_department_error_fn()
      department_name = $("#edit_department").val()
      if (edit_department_error_fn()) {
        
        $.ajax({
          type: "POST",
          url: "{% url 'add_department' %}",
          data: { "department_name": department_name, "department_id": $(this).attr("data-attr") },
          success: function (response) {
            // alert(response)
            if(response == "Designation created"){
              $("#edit-department-popup").modal("hide")
              $("#universal_msg").text("{% trans 'Department edited successfully' %}")
              $("#universal_msg_modal").modal("show")
            }
            else if(response == "Already exist"){
              $("#edit_department_error").html("{% trans 'Department already exist' %}")
              $("#edit_department_error").show()
            }

          }
        })    
      }
    })

    $("#confirm_department_task").click(function(){
        id = $(this).attr('data-attr')
        $.ajax({
          type: 'DELETE',
          url: "{% url 'add_department' %}",
          data: { "department_id": id },
          success: function (response) {
            if (response == 1) {
              $("#delete-conformation-popup").modal("hide")
              // $("#edit-designation-popup").modal("hide")
              $("#universal_msg").html("{% trans 'Department deleted successfully' %}")
              $("#universal_msg_modal").modal("show")
            }
            else {

            }
          }
        });
    })

    function department_error_fn(){
      department_name = $("#add_department").val()
      if (department_name == "") {
        $("#department_error").html("{% trans 'This field is required' %}")
        $("#department_error").show()
        return false
      }
      else{
        $("#department_error").hide()
        return true
      }
    }


    function edit_department_error_fn(){
      department_name = $("#edit_department").val()
      title = $("#edit_department").attr('data-title')
      if (department_name == "") {
        $("#edit_department_error").html("{% trans 'This field is required' %}")
        $("#edit_department_error").show()
        return false
      }
      else if(department_name == title){
        // $("#edit_city_error").html("city name should not be same")
        $("#edit_department_error").hide()
        return false 
      }
      else{
        $("#edit_department_error").hide()
        return true
      }
    }

    $(".add_department_popup").click(function(){
      $("#department_error").hide()
      $("#add_department").val("")
    })

    $(".close-bntn").click(function(){
      location.reload()
    })


    $("#add_department_btn").click(function () {
      department_error_fn()
      department_name = $("#add_department").val()
      if (department_error_fn()) {
         $.ajax({
          type: "PUT",
          url: "{% url 'add_department' %}",
          data: { "department_name": department_name },
          success: function (response) {
            if(response == "department created"){
              $("#add-department-popup").modal("hide")
              $("#universal_msg").text("{% trans 'Department added successfully' %}")
              $("#universal_msg_modal").modal("show")
            }
            else if(response == "Already exist"){
              $("#department_error").html("{% trans 'Department already exist' %}")
              $("#department_error").show()
            }

          }
        })
      }
    })

 
  </script>
{% endblock %}