{% extends 'admin_templates/admin_base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Manager list{% endblock %}
{% block content %}

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <div class="dashboard-body">

            <!-- for mobile device -->
            <div class="row">
              <div class="left-header-part mobile-device">
                <div class="country-wrapper">

                  <div class="for-mobile">
                    <div class="country-field">
                      <a href="#" title=""><i class="fas fa-clock"></i> 10:00 am </a>
                      <div class="c-logo-block media">
                        <img class="align-self-center mr-2" src="{% static 'img/c-logo.png' %}" title="Blue Logo"
                          alt="Blue Logo">
                        <p class="media-body"> USA </p>
                      </div>
                    </div>


                    <div class="country-field">
                      <a href="#" title=""><i class="fas fa-clock"></i> 10:00 am </a>
                      <div class="c-logo-block media">
                        <img class="align-self-center mr-2" src="{% static 'img/c-logo.png' %}" title="Blue Logo"
                          alt="Blue Logo">
                        <p class="media-body"> USA </p>
                      </div>
                    </div>
                  </div>

                  <div class="for-mobile">
                    <div class="country-field">
                      <a href="#" title=""><i class="fas fa-clock"></i> 10:00 am </a>
                      <div class="c-logo-block media">
                        <img class="align-self-center mr-2" src="{% static 'img/c-logo.png' %}" title="Blue Logo"
                          alt="Blue Logo">
                        <p class="media-body"> USA </p>
                      </div>
                    </div>

                    <div class="country-field">
                      <a href="#" title=""><i class="fas fa-clock"></i> 10:00 am </a>
                      <div class="c-logo-block media">
                        <img class="align-self-center mr-2" src="{% static 'img/c-logo.png' %}" title="Blue Logo"
                          alt="Blue Logo">
                        <p class="media-body"> USA </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Content Row -->

            <div class="row">

              <!-- Area Chart -->
              <div class="col-xl-12 col-lg-12">

                <!-- Page Heading -->
                <!-- <div class="d-sm-flex align-items-center justify-content-between mb-2 mt-2">               
                </div> -->
                <!-- breadcrumb -->
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb mb-0 px-0">
                    <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">{% trans "Admin Dashboard" %}</a></li>
                    <li class="breadcrumb-item active">{% trans "Managers List" %}</li>
                  </ol>
                </nav>


                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header no-border py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary"> {% trans 'Managers List' %} ({{managers_count}})</h6>
                    <div class="d-flex align-items-center justify-content-between">
                        <form class="custom-search d-sm-inline-block form-inline ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="{% trans 'Search' %}..." aria-label="Search" aria-describedby="basic-addon2" id="search_bar">
                            <div class="input-group-append">
                              <a href="javascript:void(0)" class="input-group-text" id="search_bar_btn">
                                <i class="fas fa-search fa-sm"></i>  
                              </a>                              
                            </div>
                          </div>
                        </form>
                        <a href="{% url 'manager_list' %}" class="d-sm-inline-block ml-3"><i class="fas fa-sync-alt"></i></a>
                    </div>
                  </div>
                  <!-- Table  -->
                  <div class="table-responsive-sm">
                    <table class="table table-bordered" cellspacing="0" width="100%">
                      <tr class="border-bottom-2">
                      	<th>{% trans 'Serial no.' %}</th>
                        <th>{% trans 'Date & Time' %}</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Department' %}</th>
                        <th>{% trans 'Designation' %}</th>
                        <th>{% trans 'Timezone' %}</th>
                        <th>{% trans 'Action' %}</th>
                      </tr>
                      {% if page_obj %}
                        {% for manager in page_obj %}
                          <tr>
                          	<td>{{forloop.counter}}</td>
                            <td>{{manager.created|date:'d/m/Y, H:i A' }}</td>
  	                        <td><a href="{% url 'manager_profile_edit' manager.manaager.id %}">{{manager.full_name}}</a></td>
  	                        <td>{{manager.department.departments}}</td>
  	                        <td>{{manager.designation}}</td>
                            <td>{{manager.timezone}}</td>
  	                        <td>
              								<div class="gray-circle">
              									<div class="icons">
              										<span>
              										<a class="change_password_icon" data-attr="{{manager.full_name}},{{manager.manaager.email}}" href="#" data-toggle="tooltip" data-placement="top" title="{% trans "Change Password" %}">
              											<i class="fas fa-unlock-alt"></i>
              										</a>
              										</span>
              									</div>
              								</div>
              							</td>
                          </tr>
                        {% endfor %}
                      {% else %}
                        <tr><td colspan="7"><h1>{% trans 'No data found' %}</h1></td></tr>
                      {% endif %}
                    </table>
                  </div>
                  {% if page_obj.paginator.num_pages > 1 %}
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col">
                        <span>{% trans "Showing" %} {{page_obj.start_index}} {% trans "to" %} {{page_obj.end_index}} {% trans "of" %} {{managers_count}}</span>
                      </div>
                      <div class="col">
                        <nav aria-label="Page navigation">
                          <ul class="pagination pg-blue justify-content-end">
                              {% if page_obj.number != 1 %}
                                <li class="page-item"><a class="page-link" href="?page=1">{% trans 'First' %}</a></li>
                              {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">{% trans 'First' %}</a></li>
                              {% endif %}
                              {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                              {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                              {% endif %}
                              {% for i in page_obj.paginator.page_range %}
                                {% if page_obj.number == i %}
                                  <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">({% trans 'current' %})</span></a></li>
                                {% elif page_obj.number > i|add:"-5" and page_obj.number < i|add:"+5"%}
                                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                              {% endfor %}
                              {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                              {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                              {% endif %}
                              {% if page_obj.paginator.num_pages != page_obj.number %}
                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{% trans 'Last' %}</a></li>
                              {% else %}
                                <li class="page-item disabled"><a class="page-link" href="#">{% trans 'Last' %}</a></li>
                              {% endif %}
                          </ul>
                      </nav>  
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>


            </div>
          </div>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <div class="adjust-clock task add-dce manager-alert modal" id="logout-conformation-popup" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header py-2 flex-row align-items-center justify-content-between">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <div class="close-btn mt-0">
            <span aria-hidden="true">×</span>
          </div>
        </button>
      </div>
      <div class="modal-body p-3 p-md-4 p-lg-4">
        <div class="row form-row">
          <div class="col-lg-12 text-center">
            <p class="m-0" id="universal_ssmsg">{% trans 'Are you sure you want to logout?' %}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <a class="d-sm-inline-block btn btn-sm btn-primary yes-btn sbt-btn shadow-sm mr-2" href="{% url 'logout' %}"> {% trans 'Yes' %} </a>
        <button class="d-sm-inline-block btn btn-sm btn-primary yes-btn sbt-btn brown-clr shadow-sm" type="button"
          data-dismiss="modal"> {% trans 'No' %} </button>
      </div>
    </div>
  </div>
</div>


  <!-- Manager Alert Modal-->
  <div class="adjust-clock task manager-alert modal" id="manager-alert" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header py-1 flex-row align-items-center justify-content-between">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <div class="close-btn mt-0">
              <span aria-hidden="true">×</span>
            </div>
          </button>
        </div>
        <div class="modal-body p-3 p-md-4 p-lg-4">
          <div class="row form-row">
            <div class="col-lg-12">
              <div class="mb-2 text-center">
                <h5 class="m-0 mb-1">Send Alert to </h5>
                <h6 class="m-0 font-weight-bold text-primary"> Jacob Watts </h6>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group m-0">
                <label> Discription <span class="color-red">*</span></label>
                <textarea type="text" class="form-control"
                  placeholder="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industr..."></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-top-0">
          <button class="d-sm-inline-block btn w-100 btn-sm btn-primary" type="button" data-dismiss="modal"> OK
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- Add Department Modal-->
  <div class="adjust-clock task add-dce manager-alert modal" id="add-department-popup" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header py-1 flex-row align-items-center justify-content-between">
          <h5 class="modal-title" id="exampleModalLabel">{% trans 'Add Department' %} </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <div class="close-btn mt-0">
              <span aria-hidden="true">×</span>
            </div>
          </button>
        </div>
        <div class="modal-body p-3 p-md-4 p-lg-4">
          <div class="row form-row">
            <div class="col-lg-12">
              <div class="form-group m-0">
                <input type="text" class="form-control" placeholder="Enter Department Name *" id="add_department" required="">
                <span  id="department_error" style="display: none;color: red;"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-top-0">
          <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn shadow-sm" id="add_department_btn" type="button">
            {% trans 'Ok' %} </button>
          <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn brown-clr shadow-sm" type="button"
            data-dismiss="modal"> {% trans 'Cancel' %} </button>
        </div>
      </div>
    </div>
  </div>



  <!-- Add City Modal-->
  <div class="adjust-clock task add-dce manager-alert modal" id="add-city-popup" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header py-1 flex-row align-items-center justify-content-between">
          <h5 class="modal-title" id="exampleModalLabel">{% trans 'Add City' %} </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <div class="close-btn mt-0">
              <span aria-hidden="true">×</span>
            </div>
          </button>
        </div>
        <div class="modal-body p-3 p-md-4 p-lg-4">
          <div class="row form-row">
            <div class="col-lg-12">
              <div class="form-group m-0">
                <input type="text" class="form-control" placeholder="Enter City Name *" required="" id="add_city">
                <span  id="city_error" style="display: none;color: red;"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-top-0">
          <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn shadow-sm" type="button" id="add_city_btn" > {% trans 'Ok' %} </button>
          <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn brown-clr shadow-sm" type="button"
            data-dismiss="modal"> {% trans 'Cancel' %} </button>
        </div>
      </div>
    </div>
  </div>




  <!-- Add Employee Modal-->
  <div class="adjust-clock task add-dce manager-alert modal" id="add-employee-popup" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header py-1 flex-row align-items-center justify-content-between">
          <h5 class="modal-title" id="exampleModalLabel">{% trans 'Add Employee' %} </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <div class="close-btn mt-0">
              <span aria-hidden="true">×</span>
            </div>
          </button>
        </div>
        <div class="modal-body p-3 p-md-4 p-lg-4">
          <div class="row form-row">
            <div class="col-lg-12">
              <div class="form-group m-0">
                <input type="text" class="form-control" placeholder="Enter Employee Name *" required="">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-top-0">
          <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn shadow-sm" type="button" data-dismiss="modal">
            {% trans 'Ok' %} </button>
          <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn brown-clr shadow-sm" type="button"
            data-dismiss="modal"> {% trans 'Cancel' %} </button>
        </div>
      </div>
    </div>
  </div>


  <!-- change-password modal -->
  <div class="adjust-clock task modal" id="change-password" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header py-1 flex-row align-items-center justify-content-between">
          <h5 class="modal-title" id="exampleModalLabel">{% trans 'Change Password' %} </h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <div class="close-btn mt-0">
              <span aria-hidden="true">×</span>
            </div>
          </button>
        </div>
        <div class="modal-body p-3 p-md-4 p-lg-4">
          <div class="row form-row ">
            <div class="col-lg-12">
              <div class="form-group form-row field-static">
                <label>{% trans 'Name' %} : </label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticName" value="Name">
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group form-row field-static">
                <label>{% trans 'Email' %} :</label>
                <div class="col-sm-10">
                  <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
                </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label>{% trans 'New Password' %} <span class="color-red">*</span></label>
                <input type="password" class="form-control" id="password" placeholder="{% trans "Enter Password" %}" required="" onkeypress="password_validation()">
                <label id="password_label" style="display: none;color: red;"></label>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group m-0">
                <label>{% trans 'Confirm New Password' %} <span class="color-red">*</span></label>
                <input type="password" class="form-control" id="confirm_password" placeholder="{% trans "Enter Confirm Password" %}" required="" onkeypress="confirm_password_validation()">
                <label id="confirm_password_label" style="display: none;color: red;"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-top-0">
          <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn shadow-sm" type="button" id="change_password_btn">
            {% trans 'Submit' %} </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end modal -->


  <div class="submit-msg alert modal fade" id="universal_msg_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header py-1 flex-row align-items-center justify-content-between">
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <div class="close-btn mt-0">
            <span aria-hidden="true">×</span>
          </div>
        </button>
      </div>
      <div class="modal-body">
        <div class="row form-row">
          <div class="col-lg-12 text-center">
              <p class="m-0" id="universal_msg"></p>
          </div>          
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn shadow-sm" type="button"  data-dismiss="modal"> {% trans 'Ok' %} </button>
      </div>
    </div>
  </div>
</div>

<div class="submit-msg alert modal fade" id="universal_msg_modal11" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header py-1 flex-row align-items-center justify-content-between">
        <button class="close " type="button" data-dismiss="modal" aria-label="Close">
          <div class="close-btn">
            <span aria-hidden="true">×</span>
          </div>
        </button>
      </div>
      <div class="modal-body">
        <div class="row form-row">
          <div class="col-lg-12 text-center">
            <p class="m-0" >{% trans 'Something Went Wrong' %}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button class="d-sm-inline-block btn btn-sm btn-primary sbt-btn shadow-sm " type="button"
          data-dismiss="modal"> {% trans 'Ok' %} </button>
      </div>
    </div>
  </div>
</div>


  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin-2.js' %}"></script>
  <script type="text/javascript">

    $("#search_bar_btn").click(function(){
        val = $("#search_bar").val()
        if(val==""){
          $("#search_bar").focus()
          return false
        }
        else{
          location.href = "{% url 'manager_list' %}?maanger_name="+val+""
        }
      })
    $(document).on('keypress','#search_bar',function (e) {
         var key = e.which;
         if(key == 13)  // the enter key code
         {
            $('#search_bar_btn').click();
            return false;
         }
      });

    function password_validation(){
        password=$("#password").val();
        // var password_regex = /^(?=\S*[a-z][A-Z])(?=\S*\d)(?=\S*[^\w\s])\S{6,}$/;
         password_regex = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
        if(password.length == '' || password.length == null) {
            $("#password_label").show()
            $("#password_label").html("{% trans 'This field is required' %}");
            return false;
        }
        else{
            if(password.length > 20 || password.length < 6){
                $("#password_label").show()
                $("#password_label").html("{% trans 'Password must contain 6 to 20 characters' %}");
                return false;
            }
            // else if(!!~password.indexOf(' ')){
            //     $("#password_label").show()
            //     $("#password_label").html("{% trans 'Password must not contain white spaces' %}");
            //     return false;
            // }
            else if(password_regex.test(password)==false){
                $("#password_label").show()
                $("#password_label").html("{% trans 'Password must contain Uppercase & lowercase letters, special characters, and numbers.' %}");
                return false;
            } 
            else{
                $("#password_label").hide()
                return true;
            }
        }
    };
    function confirm_password_validation(){
        pass = $("#password").val();
        password = $("#confirm_password").val();    

        if(password.length == '' || password.length == null) {
            $("#confirm_password_label").show()
            $("#confirm_password_label").html("{% trans 'This field is required' %}");
            return false;
        }
        else{
            if(password != pass){
                $("#confirm_password_label").show()
                $("#confirm_password_label").html("{% trans 'Passwords should be same' %}");
                return false;
            }
            else{
                $("#confirm_password_label").hide()
                return true;
            }
        }
    };


    $(".change_password_icon").click(function(){
      val = $(this).attr('data-attr')
      split = val.split(",")
      email = split[1]
      name = split[0]
      $("#staticName").val(name)
      $("#staticEmail").val(email)
      $("#password").val("")
      $("#confirm_password").val("")
      $("#change-password").modal("show")
    })

    $("#change_password_btn").click(function(){
      password_validation()
      confirm_password_validation()
      if(password_validation() && confirm_password_validation()){
        email = $("#staticEmail").val()
        $.ajax({
              type: 'POST',
              url: "{% url 'change_manager_pass' %}",
              data: {
                "email" : email,
                "password" : $("#password").val(),
              },
              success: function(response){
                if(response == 1){
                  $("#change-password").modal("hide")
                  $("#universal_msg").text("{% trans 'Password changed successfully' %}")
                   $("#universal_msg_modal").modal("show")
                }
                else{
                   $("#universal_msg_modal11").modal("show")
                }
              }
          });
      }
    })


    $("#add_department_btn").click(function () {
      $("#department_error").hide()
      department_name = $("#add_department").val()
      if (department_name == "") {
        $("#add_department").focus()
        return false
      }
      else {
        $.ajax({
          type: "POST",
          url: "{% url 'add_department' %}",
          data: { "department_name": department_name },
          success: function (response) {
            if(response == "department created"){
              $("#add-department-popup").modal("hide")
              $("#universal_msg").text("{% trans 'Department added successfully' %}")
              $("#universal_msg_modal").modal("show")
            }
            else if(response == "Already exist"){
              $("#department_error").html("{% trans 'Department already exist' %}")
              $("#department_error").show()
            }

          }
        })
      }
    })


    $("#add_city_btn").click(function () {
      $("#city_error").hide()
      city_name = $("#add_city").val()
      if (city_name == "") {
        $("#add_city").focus()
        return false
      }
      else {
        $.ajax({
          type: "POST",
          url: "{% url 'add_city' %}",
          data: { "city_name": city_name },
          success: function (response) {
            if(response == "City created"){
              
              $("#add-city-popup").modal("hide")
              $("#universal_msg").text("{% trans 'City added successfully' %}")
              $("#universal_msg_modal").modal("show")
            }
            else if(response == "Already exist"){
              $("#city_error").html("{% trans 'City already exist' %}")
              $("#city_error").show()
            }

          }
        })
      }
    })
  </script>
  {% endblock %}